{% extends "base.html" %}

{% block title %}
Accept Invitation
{% endblock title %}

{% block content %}
    <div class="well col-md-6">
        <p>User {{invitation.from_user}} has invited you to a game.</p>
        {% if invitation.message %}
        <p>
            They have included the following message:
            <blockquote>
                <p> {{ invitation.message }}</p>
            </blockquote>
        {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" name="accept" value="ok">Accept</button>
                <button type="submit" name="dent" value="no">Deny</button>
            </form>
        </p>
    </div>

{% endblock content %}